exclude: README.rst

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: end-of-file-fixer
    -   id: file-contents-sorter
        files: ".*"
        exclude: "\\..*"
        args: ["--ignore-case"]
    -   id: trailing-whitespace
